   <div class="wrapper" ng-controller="GMBController">
                <div class="panel panel-primary">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="filter" ng-model="searchItem">
                            </div>      
                        </div>
                    </form>

                    <table class="table table-hover table-bordered table-striped" >
                        <thead>
                            <tr>
                                <th>item_name</th>
                                <th>brand</th>
                                <th>nf_calories</th>
                                <th>nf_proteins</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in savedItems | filter:searchItem">
                                <td>{{item.item_name}}</td>
                                <td>{{item.brand_name}}</td>
                                <td>{{item.nf_calories}}</td>
                                <td>{{item.nf_protein}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
<style>
    .wrapper{
            margin-top:150px;
            padding: 0 10px;
        }
        .clickable{
            cursor: pointer;   
        }

        .panel-heading div {
            margin-top: -18px;
            font-size: 15px;
        }
        .panel-heading div span{
            margin-left:5px;
        }
        .panel-body{
            display: none;
        }
</style>