<div class="wrapper container-home">
	<div class="col-md-9" ng-repeat="details in savedDetails">
		<h2>{{details.item_name}} </h2>
	
		<h3>
			<ul>
				<li>Brand: {{details.brand_name}}  </li>
				<li>Calories: {{details.nf_calories}}   </li>
				<li>Protein: {{details.nf_protein}}  </li>
				<li>Total carbohydrate: {{details.nf_total_carbohydrate}}  </li>
				<li>Total fat: {{details.nf_total_fat}}  </li>
				<li>Cholesterol: {{details.nf_cholesterol}}  </li>
				<li>Sodium: {{details.nf_sodium}} </li>
				<li>Sugar: {{details.nf_sugars}} </li> 
			</ul>
		</h3>

	</div>
</div>
