<div class="container container-home" >
    <div class="panel panel-primary">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="filter" ng-model="ctrl.searchItem">
                </div>      
            </div>
        </form>

        <table class="table table-hover table-bordered " >
            <thead>
                <tr>
                    <th>item_name</th>
                    <th>brand</th>
                    <th>nf_calories</th>
                    <th>nf_proteins</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.savedItems | filter:ctrl.searchItem" ng-click="ctrl.getDetails(item.item_id)" >
                    <td>{{ item.item_name}}</td>
                    <td>{{ item.brand_name}}</td>
                    <td>{{ item.nf_calories}}</td>
                    <td>{{ item.nf_protein}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="add-item-button">
        <button ui-sref="search" ng-click="ctrl.results=[];" type="button" class="btn btn-info">Add Item</button>
    </div>
</div>